<nav class='navbar navbar-default' role='navigation'>
  <div class='navbar-header'>
    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
    </button>
    <a class='navbar-brand' href='#'>SISteMATIC:Individual</a>
  </div>
  <div class='collapse navbar-collapse navbar-ex1-collapse'>
    <ul class='nav navbar-nav pull-right'>
      <li>

        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
          <%if individual_signed_in? %>
              <%= current_user.firstname %>
          <%else%>
              Sign in
          <%end%>
          <b class='caret'></b></a>

        <ul class='dropdown-menu'>
          <li>
            <form class='navbar-form navbar-right'>
              <div class='form-group'>
                Username:<input type='text' />
                Password:<input type='text' />
                <input type='submit' />
              </div>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>